<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ url_for('main') }}" class="brand-link">
        <span class="brand-text font-weight-light">Property Development</span>
    </a>
<!-- Sidebar -->
<div class="sidebar">
    {% if current_user %}
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <!-- static/imgs/user2-160x160.jpg -->
                <img src="{{ current_user.img_link }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <!-- Link to user admin -->
                <a href="" class="d-block">{{ current_user.username }} </a>
            </div>
        </div>
    {% endif %}
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->

                    <li class="nav-item has-treeview menu-open">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-home"></i>
                    <p>
                    Property DEV API
                    <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{{ url_for('main') }}" class="nav-link">
                            <i class="nav-icon fas fa-home"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('main') }}" class="nav-link">
                            <i class="nav-icon fas fa-cogs"></i>
                            <p>Admin</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('main') }}" class="nav-link">
                            <i class="nav-icon fas fa-info"></i>
                            <p>Status &amp; Tests</p>
                        </a>
                    </li>

                </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

