
{% extends "layouts/layout.html" %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          {% include "layouts/flash-messages.html" %}
          <div class="row mb-2">
            <div class="col-sm-8">
              <h1 class="m-0 text-dark">Property Development API Manager </h1>
            </div><!-- /.col -->
            <div class="col-sm-4">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item active"><a href="{{ url_for('main')}}">Home</a></li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
          <div class="row" id="display_arrangement">
            <div class="col-lg-8">
              <div class="card">
                      <div class="card-header bg-dark">
                            <h3 class="card-title">API Manager </h3>
                      </div>
                      <div class="card-body" id="manager_screen">

                      </div>
              </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header bg-dark">
                        <h3 class="card-title"> Defaults Setup </h3>
                  </div>
                  <div class="card-body">
                      <ul class="align-items-md-start">
                      <!-- Text Here -->
                      <li class="list-group-item btn-primary text-dark text-bold">
                          <a id="property_types_butt" href="javascript:void(0);">
                            <i class="fas fa-house-user"> </i>
                                Property Types
                          </a>
                      </li>
                      <li class="list-group-item btn-primary text-dark text-bold">
                          <a id="construction_dates"  href="javascript:void(0);">
                              <i class="fas fa-calendar"> </i>
                              Construction Dates
                          </a>
                      </li>
                      <li class="list-group-item btn-primary text-dark text-bold">
                          <a id="finish_quality" href="javascript:void(0);">
                              <i class="fas fa-thermometer"> </i>
                              Finish Quality
                          </a>
                      </li>
                      <li class="list-group-item btn-primary text-dark text-bold">
                          <a id="outdoor_space" href="javascript:void(0);">
                              <i class="fas fa-bahai"> </i>
                              Out Door Space
                          </a>
                      </li>
                      </ul>

                  </div>

                </div>

                <div class="card">
                    <div class="card-header bg-dark">
                        <h3 class="card-title"> API State </h3>
                  </div>
                  <div class="card-body">
                  <p class='card-text'>
                      <!-- Text Here -->
                      <ul>
                            <li id="api_state"> <span class="text text-info"> API State : </span> </li>
                            <li id="api_health"> <span class="text text-info" >API Health : </span></li>
                      </ul>
                      <div id="action_buttons">
                          <button class="btn btn-danger" id="shutdown_api">
                              <i class="fas fa-stop"> </i>
                              Shutdown API
                          </button>
                      </div>
                  </p>
                  </div>
                  <div class="card-footer" id="quick_actions_messages">

                  </div>


                </div>
                <div class="card">
                    <div class="card-header bg-dark">
                        <h3 class="card-title"> Stats </h3>
                  </div>
                  <div class="card-body">
                      <p class='card-text' id="total_requests_label">
                          <!-- Text Here -->
                          Total Requests : 0
                      </p>
                      <p class='card-text' id="cached_requests_label">
                          <!-- Text Here -->
                          Cached Requests : 0
                      </p>
                      <p class='card-text' id="failed_requests_label">
                          <!-- Text Here -->
                          Failed Requests : 0
                      </p>

                  </div>

                </div>

            </div>
          </div>
        </div>
    </div>


{% endblock content %}>

{% block sidebar %}
    {% include "layouts/sidebar.html" %}
{% endblock %}

{% block header %}
    {% include "layouts/header.html" %}
{% endblock header %}

{% block user_scripts_block %}
    <script src="{{ url_for('static', filename='js/admin/adminbundle.js')}}"></script>
{% endblock user_scripts_block %}